<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Upload</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main-container">
            <div class="main wrapper clearfix">
                <div class="clearfix">
                    <h2>Status {{username}}</h2>
                    <div class="stats_holder clearfix">
                        <div class="usage_measure">
                            &nbsp;CPU
                            <div id="cpu_usage" class="bg_font" style="width: {{players[username].cpu_usage}}%;">
                                &nbsp;CPU
                            </div>
                        </div>
                        <div class="usage_measure">
                            &nbsp;bandwidth
                            <div id="bandwidth_usage" class="bg_font" style="width: {{players[username].bandwidth_usage}}%;">
                                &nbsp;bandwidth
                            </div>
                        </div>
                        <div class="usage_measure">
                            &nbsp;route
                            <div id="route_usage" class="bg_font" style="width: {{players[username].route_usage}}%;">
                                &nbsp;route
                            </div>
                        </div>
                    </div>
                    <div class="stats_holder clearfix">
                        <div class="recover_holder">
                            <div class="button recover enabled" data-target="cpu">
                                &nbsp;&uarr;&nbsp;recover
                            </div>
                        </div>
                        <div class="recover_holder">
                            <div class="button recover" data-target="bandwidth">
                                &nbsp;&uarr;&nbsp;recover
                            </div>
                        </div>
                        <div class="recover_holder">
                            <div class="button recover" data-target="route">
                                &nbsp;&uarr;&nbsp;recover
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="upload_holder">
                        &nbsp;upload
                        <div class="bg_font" id="upload" style="width: {{players[username].transmission}}%;">
                            &nbsp;upload
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <h2>Attacks</h2>
                    <div class="card_holder clearfix">
                        <div class="card" id="card_0" data-target="0">
                            <p>Attack 1:</p>
                            <p>CPU: <span class="value_font">{{players[username].cards[0].attack_points[0]['value']}}</span></p>
                            <p>BW: <span class="value_font">{{players[username].cards[0].attack_points[1]['value']}}</span></p>
                            <p>RT: <span class="value_font">{{players[username].cards[0].attack_points[2]['value']}}</span></p>
                            <p class="costs">costs: CPU</p>
                        </div>
                        <div class="card" id="card_1" data-target="1">
                            <p>Attack 2:</p>
                            <p>CPU: <span class="value_font">{{players[username].cards[1].attack_points[0]['value']}}</span></p>
                            <p>BW: <span class="value_font">{{players[username].cards[1].attack_points[1]['value']}}</span></p>
                            <p>RT: <span class="value_font">{{players[username].cards[1].attack_points[2]['value']}}</span></p>
                            <p class="costs">costs: CPU</p>
                        </div>
                        <div class="card" id="card_2" data-target="2">
                            <p>Attack 3:</p>
                            <p>CPU: <span class="value_font">{{players[username].cards[2].attack_points[0]['value']}}</span></p>
                            <p>BW: <span class="value_font">{{players[username].cards[2].attack_points[1]['value']}}</span></p>
                            <p>RT: <span class="value_font">{{players[username].cards[2].attack_points[2]['value']}}</span></p>
                            <p class="costs">costs: CPU</p>
                        </div>
                        <div class="rules">
                            <h3>Rules:</h3>
                            <p>Select attack and adversary</p>
                            <p>or</p>
                            <p>press recover</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <h2>Adversaries</h2>
                    <div class="opponent_row clearfix">
                        % for name, player in players.items():
                            % if name != username:
                                <div class="opponent_holder clearfix" data-target="{{player.name}}">
                                    <div class="opponent_name">
                                        &nbsp;{{player.name}}
                                    </div>
                                    <div class="opponent_stats clearfix">
                                        <div class="opponent_stat opponent_cpu">
                                        </div>
                                        <div class="opponent_stat opponent_bandwidth">
                                        </div>
                                        <div class="opponent_stat opponent_route">
                                        </div>
                                    </div>
                                    <div class="opponent_upload" style="width: {{player.transmission}}%;">
                                    </div>
                                </div>
                            % end
                        % end
                    </div>
                    <div class="opponent_row clearfix">
                        <div class="submit_button_holder clearfix">
                            <div id="submit_button">
                                &nbsp;confirm
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <script src="js/main.js"></script>

        <script type="text/javascript">
            selection = [];

            $(document).ready(function() {
                $(".button.recover.enabled").click(function() {
                    $(this).addClass("active");
                    $(".card, .opponent_holder").removeClass("active");

                    selection = [];
                    selection["action"] = "recover";
                    selection["target"] = $(this).attr("data-target");
                });

                $(".card").click(function() {
                    $(".card, .button.recover.enabled").removeClass("active");
                    $(this).addClass("active");

                    selection["target"] = null;
                    selection["action"] = "attack";
                    selection["card"] = $(this).attr("data-target");
                });

                $(".opponent_holder").click(function() {
                    $(".opponent_holder, .button.recover.enabled").removeClass("active");
                    $(this).addClass("active");

                    selection["target"] = null;
                    selection["action"] = "attack";
                    selection["adversary"] = $(this).attr("data-target");
                });

                $("#submit_button").click(function() {
                    $(this).removeClass("error");
                    
                    if (selection["action"] &&
                            selection["target"] && selection["action"] == "recover"
                            || selection["card"] && selection["adversary"]) {
                        console.log(selection);
                    } else {
                        $(this).addClass("error");
                    }
                });
            });
        </script>
    </body>
</html>
