<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Download</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main-container">
            <div class="main wrapper clearfix">
                <div class="clearfix">
                    <div class="game_name_input_holder clearfix">
                        <h2>Welcome {{username}},<br>please wait for the other players</h2>
                        <input type="hidden" name="username" id="username" value="{{username}}" />
                        <div id="error_box" class="error_box" style="display: none;">The game could not be started yet. Please be patient!</div>
                        <div id="submit_button">
                            &nbsp;start game
                        </div>
                    </div>
                </div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <script src="js/main.js"></script>

        <script type="text/javascript">
            function poll_status() {
                $.ajax(
                    "status",
                    {
                        type: 'GET'
                    }
                ).done(
                    function (response) {
                        if (response.running == true) {
                            window.location = "game?username=" + $("#username").val()
                        } else  {
                            console.log("not yet ready")
                        }
                    }
                )
            }

            $(document).ready(function() {
                $("#submit_button").click(function() {
                    if ($("#gamename").val() != "" && $("#username").val() != "") {
                        $.ajax(
                            "start_game",
                            {
                                data: JSON.stringify({ username: $("#username").val() }),
                                contentType: 'application/json',
                                type: 'POST'
                            }
                        ).done(
                            function (response) {
                                if (response.status == "OK") {
                                    window.location = "game?username=" + $("#username").val()
                                } else {
                                    $("#error_box").show()
                                }
                            }
                        )
                    }
                });

                setInterval(poll_status, 2000)
            });
        </script>
    </body>
</html>
